@import 'tablet';

body{
	header{
		nav{
			font-size: 2.5vw;
		}
	}
	main{
		width:100%;
		font-size: 2.5vw;
		.promo{
			float: none;
			display: block;
			max-width: 300px;
		}
		table{
			font-size: 2.1vw;
		}

	}
}
