@import 'desktop';
body{
	header{
		div#logo{
			background-size: 150px;
		}
		nav{
			right:0;
			width: 130px;
			font-size: 1.4vw;
			ul{
				position:absolute;
				float: right;
				li{
					float: right;
					width:100%;
					background-color: $white;
				}
				&.shown{
					display:block;
					li:first-child:before{
						content: "• ";
					}
				}
				&.hidden{
					display:none;
				}
			}
			.navBtn{
				display:block;
				width:50px;
			}
		}
	}
	main{
		width: 768px;
		font-size: 1.4vw;
		table{
			font-size: 1.3vw;
		}
	}
}

